body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://i.postimg.cc/yYC536yP/feedbackimg.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin:0;
    padding:0;
    display: inline-block;
}

.headerr{
    color: black;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-size:40px
}

th{
    color: black;
}

th{
    color: black;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #d8f0f2;  
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #9966FF;
    color: #fff;
    text-align: left;
    font-size: 18px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ccccff;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #ccccff;
}

.content-table tbody tr.active-row {
    font-size: 15px;
}

header{ 
    position: fixed;
    background: #008b8b;
    padding: 20px;
    width: 100%; 
    height: 70px;
    justify-content: center;
}
.left_area h3{ 
    font-family:"Georgia", sans-serif;
    color: #fff;
    margin: 0; 
    text-transform: uppercase; 
    font-size: 25px; 
    font-weight: 900; 
    margin-left:20px;} 
.left_area h3 a {
    text-decoration: none;
    color: #fff;
}
.left_area span{ 
    color: #19B3D3;}
#logout{
    padding: 5px;
    float: right; 
    margin-top: -40px; 
    margin-right: 40px; 
    border-radius: 4px;
    height: 15px;
    width: 16px;
    color: #fff; 
    transition: 0.5s; 
}

.container {
    margin-left: 110px;
    margin-top: 50px;
}

/* navbar */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    margin-top: 70px;
    font-weight: bold;
}
  
.nav li {
    float: left;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
.nav li a:hover {
    background-color: #008b8b;
    /* background-color: #111; */
    text-decoration: none;
}
  
.nav .active {
    background-color: #4CAF50;
}

.icon {
    position: fixed;
    top: 15px;
    left: 10px;
    font-size: 25px;
    color: #fff;
}